@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.panel {
  height: 80vh;
  margin: 10px;
  color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  position: relative;
  cursor: pointer;
  border-radius: 50px;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0;
}

.panel.active {
  flex: 4;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    align-items: center;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
